<link rel="stylesheet" href="/styles/index.css" >
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />

<header>
  <div class = "container">
    <img src= "/images/finnest_logo.png" alt = "logo" class = "logo">

    <nav>
      <ul>
        <li> <a href = "/ourWhat"> What is Finnest? </a> </li>
        <li> <a href = "/ourFAQ"> FAQ </a> </li>
      </ul>
    </nav>
  </div>


</header>

<!-- <div class="hello">
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Finnest</li>
        <li><a href="403.ejs">Who are we?</a></li>
        <li><a href="403.ejs">About us</a></li>
        <li><a href="403.ejs">Reviews</a></li>
      </ul>
    </div>
  
  </div> -->
 
  <!-- Test 1-->
  <!-- Plz work-->

    <div class='row text-center'>
      <h1 id = "maintext">Learn Money. Start Saving</h1>
      <h3 id = "subtext"> A debit card designed for kids and parents </h3>
   </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <a class='button expanded' href='/adultLogin'>Adult</a>
    </div>
    <div class="medium-6 columns">
      <a class='button expanded' href='/KidLogin'>Child</a>
    </div>
  </div>

</div>