<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Finnest</li>
      <li><a href="403.ejs">Who are we?</a></li>
      <li><a href="403.ejs">About us</a></li>
      <li><a href="403.ejs">Reviews</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>


<div class='row text-center'>
  <h1>I am a...</h1>
</div>
<div class='row'>
  <div class='medium-6 columns'>
    <a class='button expanded' href='/adultLogin'>Adult</a>
  </div>
  <div class="medium-6 columns">
    <a class='button expanded' href='/KidLogin'>Kid</a>
  </div>
</div>

