<link rel="stylesheet" href="/styles/index.css" >
<link rel="stylesheet" href="/styles/style.css" >
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />

<header class='header-home'>
    <a href='/'><img src= "/images/finnest_logo.png" alt = "logo" class = "logo"></a>
    <div>
      <a href = "/ourWhat"> What is Finnest? </a>
      <a href = "/ourFAQ"> FAQ </a>
    </div>
</header>

<div class='text-center homepage-text'>
    <h1 id = "maintext">Learn Money. Start Saving</h1>
    <p id = "subtext"> A debit card designed for kids and parents </p>
    <div>
      <a href='/adultLogin'><button class='customized-button-orange customized-button'>Adult</button></a> <br/>
      <a href='/KidLogin'><button class='customized-button customized-button-blue'>Child</button></a>
    </div>
</div>
