<link rel="stylesheet" href="/styles/adultLogin.css" >
<link rel="stylesheet" href="/styles/style.css" >

<header class='header-home'>
    <a href='/'><img src= "/images/finnest_logo.png" alt = "logo" class = "logo"></a>
    <div>
      <a href = "/ourWhat"> What is Finnest? </a>
      <a href = "/ourFAQ"> FAQ </a>
    </div>
</header>

<div class = "main-container form-container">
  <form action="/adultLogin" method="POST">
    <h4 class="text-center">Adult Log In</h4>
    <input name="email" type="email" placeholder="Email" required="required" />
    <input name="password" type="password" placeholder="Password" required="required" />
    <input class='customized-button-orange customized-button' type="submit" class="button expanded" value="Log in"></input>
  </form>

  <hr/>
  <p>New to Finnest?</p>
  <a href='/adultSignup'><button class='customized-button'>Sign Up</button></a>
</div>








