<form class='form' action="/adultLogin" method="POST">
  <h4 class="text-center">Adult Log In</h4>
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="parent@email.com"/>
  <br/>

  <label for="password">Password</label>
  <input name="password" type="password" placeholder="Password"/>
  <br/>

  <p><input type="submit" class="button expanded" value="Log in"></input></p>

  <p class="text-center"><a href='/adultSignup'>Sign Up</a></p>
</form>
