<form action="/adultSignup" method="POST">

  <label for="email">Email</label>
  <input name="email" type="email"/>
  <br/>

  <label for="password">Password</label>
  <input name="password" type="password"/>
  <br/>

  <label for="password_confirmation">Confirm</label>
  <input name="password_confirmation" type="password"/>
  <br/>

  <input type="submit"/>
</form>
