
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/kidHome.css">

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<div class="container">
	<div class="row">
    <div class="large-9 small-centered columns">
      <div id="container"></div>
    </div>
  </div >
  <div class="row">

  <div class="large-4 small-centered columns">
      <a href='/transfers/new'>
        <img id ="transfersimage" src='/images/transfer.png' /><br/>
        <h4 id = "transferstext" > Transfer Funds</h4>
      </a>
    </div>
  </div>
</div>


<script>
Highcharts.chart('container', {
      title: {
        text: 'My Balance'
      },

      yAxis: {
        title: {
          text: 'Balance'
        },
        label:{
            format: '$ {value}'
        }
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
      },
      series: [
        {
          name: 'Balance',
          data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }
      ]
});
</script>



