<link rel="stylesheet" href="/styles/FAQ.css" >
<link rel="stylesheet" href="/styles/style.css">

<header class='header-normal'>
  <a href='/'><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/v1/1084130/pan9vismbjnaelgvkxkn.png"></img></a>
  <div>
    <a href = "/ourWhat"> What is Finnest? </a>
    <a href = "/ourFAQ"> FAQ </a>
  </div>
</header>

<div class='main-container info-container'>
	<div class='question'>
	<h4> What is the right age for my child to use Finnest?</h4>
		<p >The minimum age to use the Finnest card and app is 8 years old. If you feel that your child is competent enough to recognizes basic math concepts like addition and subtraction, then they're ready for Finnest! Additionally, we recommend parents and children to have access to a mobile screen, so that we can provide the full experience of Finnest. Overall, we see highest success rates when young learners begin around 10 years old. </p>
	</div>

	<div class='question'>
	<h4> Can my child withdraw money at an ATM?</h4>
		<p >Yes, Parents can control this decision in our settings and turn ATMs off if they wish! Please note that withdrawals from ATMs not within our network will charge a fee outside of our control. </p>
	</div>

	<div class='question'>
	<h4> How do I put money on the card?</h4>
		<p >We let you connect your debit card to you child’s account, and we can initiate transfers at your request. </p>
	</div>

	<div class='question'>
	<h4> Can other people directly pay my child?</h4>
		<p >If someone is approved by you (it could be a grandparent, neighbor, or family friend), then yes. </p>
	</div>

	<div class='question'>
	<h4> Can my child send money to other people?</h4>
		<p >Yes! They make transfers to other Finnest accounts, but you have the ability to restrict this and set parameters. 
		</p>
	</div>
</div>