<link rel="stylesheet" href="/styles/FAQ.css" >


<header>
  <div class = "container">
    <img src= "/images/finnest_logo.png" alt = "logo" class = "logo">

    <nav>
      <ul>
        <li> <a href = "/auth/index"> Home </a> </li>
        <li> <a href = "/ourWhat"> What Is Finnest </a> </li>
      </ul>
    </nav>
  </div>


</header>

	<div id = "MainBodyDiv"> 	
		<div id="q1">
			<h1> What is the right age for my child to use Finnest?</h1>

			<div class ="innercontent"> 
				<p >The minimum age to use the Finnest card and app is 8 years old. If you feel that your child is competent enough to recognizes basic math concepts like addition and subtraction, then they're ready for Finnest! Additionally, we recommend parents and children to have access to a mobile screen, so that we can provide the full experience of Finnest. Overall, we see highest success rates when young learners begin around 10 years old. </p>
			</div>
		</div>

		<div id="q2">
			<h1> Can my child withdraw money at an ATM?</h1>

			<div class ="innercontent"> 
				<p >Yes, Parents can control this decision in our settings and turn ATMs off if they wish! Please note that withdrawals from ATMs not within our network will charge a fee outside of our control. </p>
			</div>

		</div>

		<div id="q3">
			<h1> How do I put money on the card?</h1>

			<div class ="innercontent"> 
				<p >We let you connect your debit card to you child’s account, and we can initiate transfers at your request. </p>
			</div>
		</div>

		<div id="q4">
			<h1> Can other people directly pay my child?</h1>
			
			<div class ="innercontent"> 
				<p >If someone is approved by you (it could be a grandparent, neighbor, or family friend), then yes </p>
			</div>

		<div id="q5">
			<h1> Can my child send money to other people?</h1>

			<div class ="innercontent"> 
				<p >Yes! They make transfers to other Finnest accounts, but you have the ability to restrict this and set parameters. 
				</p>
			</div>
		</div>

	</div>

</div>