<link rel="stylesheet" href="/styles/what_we_do.css" >
<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />

<header class='header-normal'>
  <a href='/'><img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_300,w_300,f_auto,q_auto/v1/1084130/pan9vismbjnaelgvkxkn.png"></img></a>
  <div>
    <a href = "/ourWhat"> What is Finnest? </a>
    <a href = "/ourFAQ"> FAQ </a>
  </div>
</header>

<div class='main-container info-container'> 	
	<h1> What is Finnest? </h1>
	<h5>Finnest is a prepaid card and app entirely designed for your child between 8 and 18 </h5>
	<img src= "/images/phones.png" alt = "logo" class = "logo">
	<p> Finnest can take care of tasks such as allowance transfers and jobs, while also engaging your child in savings activities and growing their money more efficiently. On average, our test group saved 58% more with Finnest than with any other existing solution.</p>
</div>