<form class='login-form' action="/kidLogin" method="POST">
  <h4 class="text-center">Kid Log In</h4>
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="kid@email.com"/>
  <br/>

  <label for="password">Password</label>
  <input name="password" type="password" placeholder="Password"/>
  <br/>

  <p><input type="submit" class="button expanded" value="Log in"></input></p>

  <p class="text-center"><a href='/kidSignup'>Sign Up</a></p>
</form>
