<form class='form' action="/kidSignup" method="POST">
  <h4 class="text-center">Kid Sign Up</h4>

  <label for="parent_email">Parent Email</label>
  <input name="parent_email" type="email" placeholder='parent@email.com'/>
  <br/>

  <label for="email">Your Email</label>
  <input name="email" type="email" placeholder='kid@email.com'/>
  <br/>

  <label for="first_name">First Name</label>
  <input name="first_name" type="text" placeholder='First Name'/>
  <br/>

  <label for="last_name">Last Name</label>
  <input name="last_name" type="text" placeholder='Last Name'/>
  <br/>

  <label for="password">Password</label>
  <input name="password" type="password" placeholder='Password'/>
  <br/>

  <label for="password_confirmation">Confirm</label>
  <input name="password_confirmation" type="password" placeholder='Confirm Password'/>
  <br/>

  <p><input type="submit" class="button expanded" value="Sign Up"></input></p>
</form>
