body {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1084130/hero-3_f9kwmt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.form-container {
  background-color: rgba(220, 220, 220, .7);
  padding: 30px 30px;
  border-radius: 5px;
}
