body {
	background-color: white;
}

.question {
	margin-bottom: 40px;
}

.question > h4 {
	font-family: titleFont;
	color: 	#3FB1B8;
}

.question > h5 {
	font-family: subTitle;
	color: rgb(100,100,100);
}

.question > p {
	text-align: left;
	font-family: subTitle;
}