body {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/1084130/hero-3_f9kwmt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.homepage-text {
  color: white;
}

.homepage-text h1 {
  font-family: titleFont;
  font-size: 43px;
}

.homepage-text p {
  font-family: subTitle;
  font-size: 20px;
}

.homepage-text > div {
	margin-top: 30px;
}

/*
.container {
	width: 100%;
	margin: 0 auto;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 110px;
	padding-top: 25px;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;

}

nav a:hover {
	color: black;
}

#maintext {
	color: white;
	width: 100%;
	max-width: 960px;
	font-size: 90px;
	font-family: "Amatic SC", cursive;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto; 
	text-align: center;
	font-weight: bold; 

}

#subtext {
    color: white;
    margin-bottom: 70px;
	width: 100%;
	font-weight: bold; 
	max-width: 960px;
	font-size: 70px;
	font-family: "Amatic SC", cursive;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto; 
	text-align: center;
}*/