#transferfunds {
  position: relative;
  width: 50%;
  height: 100vh;
  display: inline-block
}

#transferstext {
  margin-bottom: 100px;
  text-align:center;
}



.container {

  display: inline-block;
}