/*#MainBodyDiv {
	width: 80%;
	margin: auto;
	margin-top: 50px;

}
*/
body {
	background-color: white;
}

.info-container > h1 {
	font-family: titleFont;
	color: 	#3FB1B8;

}

.info-container > h5 {
	font-family: subTitle;
	color: rgb(100,100,100);
	background-color : #99FFCC;
	border: 1px solid #008000;
}

.info-container > p {
	font-family: subTitle;

}


/*
h1 {
	border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
	color: black;
	width: 100%;
	max-width: 960px;
	font-size: 90px;
	font-family: "Amatic SC", cursive;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto; 
	/* 40 pixels on the top and auto margins for left andright 
	text-align: center;
	font-weight: bold; 

}

p {
   font-family: Gill Sans Extrabold, sans-serif;
   text-shadow: 1px 1px 0 rgba(0,0,0,.2);
   font-weight: bold;
   font-size: 30px;

 }

 #innercontent {
 	 border: 1px solid black;
 	padding-left: 15px;
 	padding-right: 15px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #55d6aa;
 }

.container {
	width: 100%;
	margin: 0 auto;
}

.logo {
	float: left;
}*/