<link rel="stylesheet" href="/styles/style.css">
<link rel="stylesheet" href="/styles/transfer.css">

<div class='main-container'>

<h4>Send money to friends and family</h4>

<div class='shadowed-container'>
  <% balances.forEach(function(info) { %>
    <div class='account-info'>
      <p>
        <strong>Your account: </strong>
        <span><%= info.type %></span>
        <span>********</span>
        <span><%= info.number %></span>
      </p>
      <p>
        <strong>Balance: </strong>
        <a id='show-balance'>&nbsp;&nbsp;show</a>
        <span id='balance'> &nbsp;$<%= info.balance %></span>
      </p>
    </div>
  <% }) %>

  <form  action="/transfers" method="POST">
  <label for="to">To: </label>
  <input type="email" name="to" placeholder="Email" required="required">

  <label for="">Amount: </label>
  <input type="number" step="any" name="amount" placeholder="$0.00" required="required">
  <input class='customized-button customized-button-orange' type='submit'>

  </form>
</div>

</div>

<script src="/js/dependencies/jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    console.log('hi');
    $('#balance').hide();
    $('#show-balance').click (function(){
      $('#show-balance').hide();
      $('#balance').show();
    });
    $('#balance').click (function(){
      $('#show-balance').show();
      $('#balance').hide();
    });
  });
</script>
