<link rel="stylesheet" href="/styles/style.css">

<div class='main-container info-container' style="margin-top: 200px">
	<h2 style="font-family: titleFont; color: #3FB1B8">Sorry, your card is not activated yet. :(</h2>
	<h4>You will receive email notification once your card is activated.</h4>
</div>